[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda-Navigator
GenericName=Anaconda
Comment=Scientific Python Development Environment - Python3
Exec=bash -c 'export PATH="/home/bruno/anaconda3/bin:$PATH" && /home/bruno/anaconda3/bin/anaconda-navigator'
Categories=Development;Science;IDE;Qt;Education;
Icon=/home/bruno/Picturesanaconda.png
Terminal=false
StartupNotify=true
MimeType=text/x-python;